<div class="container mt-3">
  <h1><%= @task.title %></h1>
  <p><%= @task.details %></p>
  <%= link_to 'Edit this task', edit_task_path, class:'btn btn-primary mt-2' %>
  <%= link_to 'Back to list', tasks_path, class:'btn btn-light mt-2' %>
</div>
